# XCode specifics
**/*.xcodeproj/project.xcworkspace/xcuserdata/*.xcuserdatad/UserInterfaceState.xcuserstate
**/*.xcodeproj/project.xcworkspace/xcshareddata/*.xcscmblueprint
**/*.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
**/*.xcodeproj/xcuserdata/


# automake
*.o
.deps
.dirstamp
config.*
Makefile.in
aclocal.m4
autom4te.cache/
configure
configure_aux/
stamp-h1

# binary
/usr/bin
/build
/p44banditd

# USE_SOURCE_DIR debris
ipkg-*
.built*
.configured*
.prepared
.quilt_checked
.source_dir
.pkgdir/
Makefile
NEWS
ABOUT-NLS
ChangeLog
config.rpath

# other
